<% if cookies[:location].nil? %>
<% else %>
<a style="color: brown" data-toggle="modal" href="#change_location" > <i class="icon-map-marker"></i> <%= @location.capitalize() %></a>

<%= render '/home/location_form' %>
<% end %>